<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons and Inputs</title>
</head>
<body>
    {{ game_name|json_script:"game-name" }}
    <script src="/static/js/lodash.js"></script>
    <script defer="defer" src="/static/js/client.js"></script>

    <h1>Buttons and Text Inputs</h1>

    <!-- Five buttons with unique IDs -->
     <div id="playButtons">
    <button style="visibility:hidden" id="button1">3 Clowns</button>
    <button id="button2">Truco</button>
    <button id="button3">1st Card</button>
    <button id="button4">2nd Card</button>
    <button id="button5">3rd Card</button>
    </div>

    <div id="trucoOptions" style="visibility:hidden">
        <button id="fold">Fold</button>
        <button id="play">Play</button>
        <button id="raise">Raise</button>
    </div>

    <p id="card1p"></p>
    <p id="card2p"></p>
    <p id="card3p"></p>

    <p>Trump is:</p>
    <p id="trump"></p>

    <p>Team 1 Points:</p>
    <p id="T1P"></p>

    <p>Team 2 Points</p>
    <p id="T2P"></p>

    <p>Team 1 Tricks:</p>
    <p id="T1T"></p>

    <p>Team 2 Tricks</p>
    <p id="T2T"></p>


    <p>Your Turn?:</p>
    <p id="yourTurn"></p>

    <p>Cards Played:</p>
    <p id="cardsPlayed"></p>

    <br><br>

    <!-- Two text inputs each with an associated button -->
    <div>
        <input type="text" id="input1" placeholder="Enter text here">
        <button id="inputButton1">Username</button>
    </div>

    <br>

    <div>
        <input type="text" id="input2" placeholder="Enter text here">
        <button id="inputButton2">Chat</button>
    </div>

    <br><br>

    <div>
        <h2></h2>
    </div>


    <br><br>

    <div>
        <table>
            <tr>
              <th>Team 1</th>
              <th>Team 2</th>
            </tr>
            <tr>
              <td><p style="whiteSpace: pre-line" id="T1"></p></td>
              <td><p style="whiteSpace: pre-line" id="T2"></p></td>
            </tr>
        </table>
        <button id="teamSwap">Swap</button>
    </div>

    <br><br>

    <button style="visibility:hidden" id="start">start!</button>

    <p style="visibility:hidden" id="userError">Invalid Username</p>
</body>
</html>